<div class = 'col-xs-10 col-md-offset-1 col-md-8'>
	<h1>Thank you</h1>
	<br />
	<h4>Your Order Number: <%= @cart.id %></h4>
	<br/>
	Invoice Sent.
	<br />
	<h5>Enrolled Sessions:</h5>
	<ul>
	<% @items.each do |item| %>
		<li><%= date_display(item.session.from) %>, <%= number_to_currency item.session.cost, :unit => '£' %></li>
	<% end %>
	</ul>
	<b>Total Payment: </b><%= number_to_currency @cart.total_price, :unit => '£' %>

	<p>
		Thank you for signing up to Audition Club sessions.
	</p>
	<p>
		To check out all of your enrolled sessions. Go to your <b><%= link_to 'dashboard', dashboard_path %></b>.
	</p>
</div>