<div class = 'col-xs-12 col-md-offset-1 col-md-10'>
<h1>Course</h1>
<br />


  <%= @course.description %> <b>Each session costs <%= number_to_currency @course.cost, :unit => '£ ' %></b>
    <br />
    <br />

      
   <table class = 'table'>

      <thead>
        <tr>
          <th>Sessions</th>
          <th>Date</th>
          <th>Time</th>
          <th>Pianist</th>
          <th>Location</th>
          <th>Enrollments</th>
        </tr>
      </thead>
      <tbody>
        
      <% @course.sessions.each do |session| %>
      <tr>
        <td>
          <%= check_box_tag 'session_ids[]', session.id, session_in_cart?(session), :disabled => session_in_cart?(session) %>
        </td>
        <td>
          <b><%= date_display(session.start) %></b>
        </td>
        <td>
          <%= start_time_display(session.start) %> <%= end_time_display(session.end) %>
        </td> 
        <td>
          <%= session.instructor %> 
        </td>
        <td>
          (<%= session.location %>)
        </td>
        <td><%= session.enrollments.count %></td>
      </tr>           
      <% end %>
      </tbody>
    </table>

<%= simple_form_for Session.new, url: instructor_sessions_path, html: {class: "form_horizontal"}, wrapper: :horizontal_form do |f| %>
  <%= f.input :location %>
  <%= f.input :address %>
  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.submit %>
<% end %>
    
</div>