<div class = 'col-xs-12 col-md-offset-1 col-md-10'>
	<h1>Your Shopping Cart</h1>
	<br />
		<table class = 'table table_striped'>
			<thead>
				<tr>
					<th>Sessions</th>
					<th>Date</th>
					<th>Time</th>
					<th>Location</th>
					<th>Cost</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @items.each do |item| %>
				<tr>
					<td><b><%= item.session.course.title if item.session.course.present? %></b></td>
					<td><%= date_display(item.session.start) %></td>
					<td><%= start_time_display(item.session.start) %> <%= end_time_display(item.session.end) %></td>
					<td><%= item.session.location %></td>
					<td><%= number_to_currency item.session.cost,:unit=>'£ ' %></td>
					<td><%= link_to 'remove', line_item_path(item), :method => :delete %></td>
				</tr>
				<% end %>
				<tr>
					<td class="tota-price" colspan="6">
			  			<b>Total: </b><%= number_to_currency @cart.total_price, :unit => '£ ' %> (<i>plus extra card payment service charge: 
			  			<% if @cart.total_price == 0 %>
			  			£ 0.00
			  			<% else %>
			  			<%= number_to_currency ((@cart.total_price + 0.2) / (1 - 0.014)), :unit => '£ ' %>
			  			<% end %>)</i>
					</td>
				</tr>
			</tbody>
		</table>
		<br />

			<%= link_to "Continue Shopping", course_path(1) %>

			<% if current_user %>
				<table class = 'btn-table'>
				<tr>
					<td>
						<% if @cart.total_price.zero? %>
								<%= button_to 'Register', charges_path, :method => :post, :class => 'btn btn-success' %>
							<% else %>
								<%= form_tag charges_path do %>
								<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				                data-description="Course Enrollment (<%= number_to_currency @cart.total_price_with_card, :unit => '£ ' %>)"
				                data-currency="gbp"
				                data-amount="<%= (@cart.total_price_with_card * 100).to_i %>"></script>
				      			<% end %>
				      		<% end %>
		      		</td>
			      	<td>
			      		<%= button_to 'Request Invoice', invoice_request_path, :method => :get, :class => 'btn btn-warning', :disabled => @cart.total_price == 0 %>
			      	</td>
	      		</tr>
			<% else %>
				| <%= link_to 'Sign In to Check Out', new_user_session_path %></li>
			<% end %>
</div>