<div class = 'col-xs-12 col-md-offset-1 col-md-10'>
<h1>Your Shopping Cart</h1>
<br />
	<table class = 'table table_striped'>
		<thead>
			<tr>
				<th>Sessions</th>
				<th>Date</th>
				<th>Time</th>
				<th>Location</th>
				<th>Cost</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @items.each do |item| %>
			<tr>
				<td><b><%= item.session.course.title if item.session.course.present? %></b></td>
				<td><%= date_display(item.session.from) %></td>
				<td><%= from_time_display(item.session.from) %> <%= to_time_display(item.session.to) %></td>
				<td><%= item.session.location %></td>
				<td><%= number_to_currency item.session.cost,:unit=>'£ ' %></td>
				<td><%= link_to 'remove', line_item_path(item), :method => :delete %></td>
			</tr>
			<% end %>
			<tr>
				<td class="tota-price" colspan="6">
		  			<b>Total: </b><%= number_to_currency @cart.total_price, :unit => '£ ' %> (<i>plus extra card payment service charge: <%= number_to_currency (@cart.total_price * 0.019 + 0.2), :unit => '£ ' %>)</i>
				</td>
			</tr>
		</tbody>
	</table>
	<br />

	<p>
		<%= link_to "Continue Shopping", courses_path %>
		<% if current_user %>
			<%= form_tag charges_path do %>
			
				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Course Enrollment (<%= number_to_currency (@cart.total_price * 1.019 + 0.2), :unit => '£ ' %>)"
                data-currency="gbp"
                data-amount="<%= ((@cart.total_price * 1.019 + 0.2) * 100).to_i %>"></script>
      		<% end %>
		<% else %>
			| <%= link_to 'Sign In to Check Out', new_user_session_path %></li>
		<% end %>
	</p>
</div>