<div class = 'col-xs-offset-1 col-xs-10'>
<h1>Your Shopping Cart</h1>
<br />
	<table class = 'shopping-cart'>
		<tr>
			<th>Sessions</th>
			<th>Date</th>
			<th>Time</th>
			<th>Location</th>
			<th>Cost</th>
			<th></th>
		</tr>
		<% @items.each do |item| %>
		<tr>
			<td><b><%= item.session.course.title %></b></td>
			<td><%= item.session.from.strftime("%a, %d %b, %Y") %></td>
			<td><%= item.session.from.strftime("from %H:%M") %> <%= item.session.to.strftime("to %H:%M") %></td>
			<td><%= item.session.location %></td>
			<td><%= number_to_currency item.session.cost,:unit=>'£ ' %></td>
			<td><%= link_to 'remove', line_item_path(item), :method => :delete %></td>
		</tr>
		<% end %>
		<tr>
			<td class="total price" colspan="6">
	  			<b>Total: </b><%= number_to_currency @cart.total_price, :unit => '£ ' %>
			</td>
		</tr>
	</table>
	<br />

	<p>
		<%= link_to "Continue Shopping", courses_path %>
		<% if user_signed_in? %>
			<%= form_tag APP_CONFIG[:paypal_url] do %>
			<%= hidden_field_tag :cmd, "_s-xclick" %>
			<%= hidden_field_tag :encrypted, @cart.paypal_encrypted(courses_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret], :user_id => current_user.id)) %>
			<%= submit_tag "Checkout", :class => 'btn btn-success pull-right' %>
			<% end %>
		<% else %>
			<%= link_to 'Sign In to Check Out', new_user_session_path %></li>
		<% end %>
	</p>
</div>