<div class = 'col-xs-offset-1 col-xs-10'>
<h1>Sessions</h1>
<br />
<% if @courses.present? %>

		<% @courses.each do |course| %>
			<%= course.description %> <b>Each session costs £8.</b>
		<br />
		<br />
		<table class = 'table'>

		<thead>
			<tr>
				<th>Sessions</th>
				<th>Date</th>
				<th>Time</th>
				<th>Pianist</th>
				<th>Location</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= simple_form_for LineItem.new do |f| %>
				<% course.sessions.each do |session| %>

			<tr>
				<td>
					<%= check_box_tag 'session_ids[]', session.id, @cart.line_items.map {|item| item.session.id }.include?(session.id) %>
				</td>
				<td>
					<b><%= date_display(session.from) %></b>
				</td>
				<td>
					<%= from_time_display(session.from) %> <%= to_time_display(session.to) %>
				</td> 
				<td>
					<%= session.instructor %> 
				</td>
				<td>
					(<%= session.location %>)
				</td>
			</tr>						
					<% end %>
		</tbody>
		</table>
		<br />
					<%= f.submit 'Add to Cart', :class => 'btn btn-success' %>
				<% end %>
		<% end %>

<% else %>
	There are no sessions at this time.
<% end %>

</div>