<div class = 'col-xs-offset-1 col-xs-10'>
<h1><%= @course.title %></h1>
	<br />
	<p>
	<% @course.sessions.each do |session| %>
	<p><%= button_to 'Attend', line_items_path(:session_id => session), :class => 'btn btn-xs btn-success pull-left round' %>&nbsp;&nbsp;&nbsp;<b><%= date_display(session.from)  %></b>, <%= from_time_display(session.from) %> <%= to_time_display(session.to) %>, pianist: <%= session.instructor %> (<%= session.location %>)
	<% end %>

</div>