<%= @course.title %>
<p>
<% @course.sessions.each do |session| %>
<p><%= session.date.strftime("%a, %d %b, %Y") %>, <%= session.from.strftime("from %H:%M") %> <%= session.to.strftime("to %H:%M") %>, pianist: <%= session.instructor %><br>
	<%= session.address %>, <%= session.postal_code %></p>
<% end %>