<!DOCTYPE html>
<html>
<head>
  <title>Enrol</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br />

<div class = 'col-xs-offset-1 col-xs-8'>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'static_pages' %>"><%= link_to 'Audition Club', root_path %></li>
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'courses' %>"><%= link_to 'Sessions', courses_path %></li>
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'carts' %>">
	  <% if @cart.present? %>
	  	<%= link_to 'Cart', cart_path(@cart) %></li>
	  	<% end %>
	  <% if user_signed_in? %>
	  	<li role="presentation" class="dropdown">
	  		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      			My Dashboard <span class="caret"></span>
    		</a>
		  	<ul class="dropdown-menu">
		  		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
		  	</ul>
		</li>
	 <% else %>
	 	<li role="presentation" class="<%= 'active' if params[:controller] == 'devise/sessions' %>"><%= link_to 'Sign In', new_user_session_path %></li>
	  	<li role="presentation" class="<%= 'active' if params[:controller] == 'devise/registrations' %>"><%= link_to 'Sign Up', new_user_registration_path %></li>

	 <% end %>
	</ul>
</div>
<div class = 'home-page col-xs-offset-1 col-xs-10'>
	<br />
	<% if notice.present? %>
	<p class="notice"><%= notice %></p>
	<% end %>

	<% if alert.present? %>
	<p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>
</div>
</body>
</html>
