<!DOCTYPE html>
<html>
<head>
  <title>Enrol</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br />

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<% if notice.present? %>
<p class="notice"><%= notice %></p>
<% end %>

<% if alert.present? %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
