<!DOCTYPE html>
<html>
<head>
  <title>Enrol</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br />

<div class = 'col-xs-offset-2 col-xs-8'>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'static_pages' %>"><%= link_to 'Home', root_path %></li>
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'courses' %>"><%= link_to 'Courses', courses_path %></li>
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'carts' %>"><%= link_to 'Cart', cart_path(@cart) %></li>
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'devise/sessions' %>"><%= link_to 'Sign In', new_user_session_path %></li>
	  <li role="presentation" class="<%= 'active' if params[:controller] == 'devise/registrations' %>"><%= link_to 'Sign Up', new_user_registration_path %></li>
	</ul>
</div>
<div class = 'home-page col-xs-offset-1 col-xs-10'>
	<br />
	<% if notice.present? %>
	<p class="notice"><%= notice %></p>
	<% end %>

	<% if alert.present? %>
	<p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>
</div>
</body>
</html>
